/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* BACKGROUND */
.login-bg{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-2;
  opacity:1;
}
body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background:rgba(0,0,0,0.25);
}

/* MAIN LOGIN CARD */
.login-container{
  width:850px;
  padding:40px;
  border-radius:16px;
  color:white;
  display:flex;
  justify-content:space-between;
  background: rgba(255,255,255,0.08); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
  border:1px solid rgba(255,255,255,0.15);
  box-shadow:0 10px 25px rgba(0,0,0,0.35);
}

/* LEFT SIDE */
.login-left{
  width:48%;
}

.login-left h1{
  font-size:26px;
  font-weight:700;
  margin-bottom:8px;
}

.subtitle{
  font-size:16px;
  opacity:0.85;
  margin-bottom:25px;
}

label{
  display:block;
  font-size:13px;
  margin-bottom:6px;
  font-weight:600;
}

label span{
  color:#e14e63;
}

.input{
  width:100%;
  padding:12px;
  background:#1e1f22;
  border:1px solid #1e1f22;
  border-radius:4px;
  color:white;
  font-size:15px;
  margin-bottom:18px;
}

.input:focus{
  outline:none;
  border:1px solid #5865f2;
}

/* FORGOT PASSWORD */
.forgot{
  display:block;
  margin-bottom:20px;
  font-size:14px;
  font-weight: bold;
  color:#00aff4;
  text-decoration:none;
}

.forgot:hover{
  text-decoration:underline;
}

/* LOGIN BUTTON */
.login-btn{
  width:100%;
  padding:12px;
  background:#5865f2;
  border:none;
  border-radius:4px;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  margin-bottom:20px;
}

.login-btn:hover{
  background:#4752c4;
}

/* REGISTER LINK */
.register{
  font-size:16px;
  color:#b7b9be;
}

.register a{
  color:#00aff4;
  text-decoration:none;
}

.register a:hover{
  text-decoration:underline;
}

/* RIGHT SIDE */
.login-right{
  width:48%;
  text-align:center;
}

.qr{
  width:165px;
  height:165px;
  padding:10px;
  background:white;
  border-radius:6px;
  margin-bottom:12px;
}

.login-right h3{
  font-size:20px;
  margin-bottom:8px;
  font-weight:700;
}

.qr-info{
  font-size:14px;
  opacity:0.9;
  margin-bottom:12px;
  line-height:1.4;
}

.passkey{
  font-size:15px;
  font-weight: bold;
  color:#00aff4;
  text-decoration:none;
}

.passkey:hover{
  text-decoration:underline;
}
