/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* BACKGROUND VIDEO */
.reg-bg{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-2;
  opacity:1;
}

body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background:rgba(0,0,0,0.25);
}

/* MAIN REGISTER CARD */
.register-container{
  width:900px;
  height:auto;
  background: rgba(255,255,255,0.08); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
  border-radius:16px;
  display:flex;
  overflow:hidden;
  border:1px solid rgba(255,255,255,0.15);
  box-shadow:0 10px 25px rgba(0,0,0,0.35);
}
/* LEFT SECTION */
.register-left{
  width:45%;
}

.register-left img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* RIGHT SECTION */
.register-right{
  width:55%;
  padding:50px 50px;
  color:white;
}

.register-right h1{
  font-size:28px;
  margin-bottom:10px;
  font-weight:700;
}

.subtitle{
  font-size:16px;
  opacity:0.8;
  margin-bottom:25px;
}

label{
  display:block;
  font-size:14px;
  margin-bottom:5px;
  font-weight:600;
}

label span{
  color:#e14e63;
}

.input{
  width:100%;
  padding:12px;
  background:#1e1f22;
  border:1px solid #1e1f22;
  border-radius:4px;
  color:white;
  font-size:15px;
  margin-bottom:18px;
}

.input:focus{
  outline:none;
  border:1px solid #5865f2;
}

/* REGISTER BUTTON */
.register-btn{
  width:100%;
  padding:12px;
  background:#5865f2;
  border:none;
  border-radius:4px;
  color:white;
  font-size:17px;
  font-weight:600;
  cursor:pointer;
  margin-top:10px;
  margin-bottom:20px;
}
.register-btn:hover{
  background:#4752c4;
}
/* LOGIN LINK */
.login-link{
  font-size:14px;
  color:#b7b9be;
}
.login-link a{
  color:#00aff4;
  text-decoration:none;
}
.login-link a:hover{
  text-decoration:underline;
}
